@font-face {
  font-family: "iconfont"; /* Project id 2811578 */
  src: url('iconfont.woff2?t=1634818674472') format('woff2'),
       url('iconfont.woff?t=1634818674472') format('woff'),
       url('iconfont.ttf?t=1634818674472') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jurassic_user:before {
  content: "\e6a5";
}

.icon-zhucetianjiahaoyou:before {
  content: "\e8ca";
}

.icon-yonghu:before {
  content: "\e611";
}

.icon-app_icons--:before {
  content: "\e61b";
}

.icon-dengguangzongkaiguan:before {
  content: "\e75c";
}

.icon-dengguang1:before {
  content: "\e636";
}

.icon-dengguang2:before {
  content: "\e62b";
}

.icon-qitaleidengguang:before {
  content: "\e9e2";
}

.icon-biaoshilei_baojing:before {
  content: "\e604";
}

.icon-dengguang:before {
  content: "\e616";
}

.icon-baojing:before {
  content: "\e67a";
}

.icon-dianji1:before {
  content: "\e87c";
}

.icon-dianji:before {
  content: "\e600";
}

.icon-erweima:before {
  content: "\e607";
}

.icon-erweima1:before {
  content: "\e7b5";
}

.icon-erweima2:before {
  content: "\eaf1";
}

.icon-wendujiance_1:before {
  content: "\e617";
}

.icon-shidu:before {
  content: "\e894";
}

.icon-guangzhao:before {
  content: "\e608";
}

.icon-kongqizhiliang:before {
  content: "\e632";
}

.icon-guangzhao1:before {
  content: "\e606";
}

.icon-zaosheng:before {
  content: "\e61c";
}

.icon-xinghao:before {
  content: "\e605";
}

.icon-pinpai:before {
  content: "\e671";
}

.icon-ERP_pinzhongdalei:before {
  content: "\e65a";
}

.icon-xieyiguanli:before {
  content: "\e6b2";
}

.icon-zb:before {
  content: "\e615";
}

.icon-leibie:before {
  content: "\e649";
}

.icon-shebeimingcheng:before {
  content: "\e6a7";
}

.icon-shiyongzhuangtai-:before {
  content: "\e643";
}

.icon-banben:before {
  content: "\e637";
}

.icon-zhinengkongzhi:before {
  content: "\e63c";
}

.icon-duankou:before {
  content: "\e66f";
}

.icon-guigexinghao-xian2:before {
  content: "\e730";
}

.icon-ip:before {
  content: "\e67d";
}

.icon-kaiguankai:before {
  content: "\e687";
}

